@font-face {
    font-family: 'Arabic';
    src: url(../fonts/fonnts.com-Brando_Arabic_Black.otf);
    src: url(../fonts/fonnts.com-Brando_Arabic_Bold.otf);
    src: url(../fonts/fonnts.com-Brando_Arabic_ExtraLight.otf);
    src: url(../fonts/fonnts.com-Brando_Arabic_Hairline.otf);
    src: url(../fonts/fonnts.com-Brando_Arabic_Light.otf);
    src: url(../fonts/fonnts.com-Brando_Arabic_SemiBold.otf);
    src: url(../fonts/fonnts.com-Brando_Arabic_Text.otf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/poppins/Poppins-Black.ttf);
    src: url(../fonts/poppins/Poppins-Bold.ttf);
    src: url(../fonts/poppins/Poppins-ExtraBold.ttf);
    src: url(../fonts/poppins/Poppins-ExtraLight.ttf);
    src: url(../fonts/poppins/Poppins-Italic.ttf);
    src: url(../fonts/poppins/Poppins-Light.ttf);
    src: url(../fonts/poppins/Poppins-Medium.ttf);
    src: url(../fonts/poppins/Poppins-Regular.ttf);
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
    src: url(../fonts/poppins/Poppins-Thin.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    /* font-family: "brandoArabic", sans-serif; */
    font-family: "Arabic", sans-serif;
}

html {
    font-size: 65.5%;
}

:root {
    --main-color: #850504;
    --font-color: #141622;
}

/* ==== Top header section start === */
.top-header .out-box {
    width: 100%;
    background: var(--main-color);  
}

.top-header .out-box .inside-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--font-color);
    padding: 1rem 0;
    clip-path: polygon(8% 0%, 92% 0%, 96% 100%, 5% 100%);
}

.out-box .inside-box .col-1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 13rem;
}
.out-box .inside-box .col-1 span {
    font-size: 1.5rem;
}

.out-box .inside-box .col-1 span i {
    color: var(--main-color);
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

.out-box .inside-box .col-2 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 13rem;   
}

.out-box .inside-box .col-2 a,
.out-box .inside-box .col-2 span,
.out-box .inside-box .col-2 .social i {
    color: #fff;
    font-size: 1.5rem;
    transition: 0.4s;
}

.out-box .inside-box .col-2 .social {
    display: flex;
    gap: 0.9rem;

}

.out-box .inside-box .col-2 a i {
    padding-right: 0.5rem;
}

.out-box .inside-box .col-2 i:hover,
.out-box .inside-box .col-2 a:hover {
    color: var(--main-color);
}

.others {
    display: none;
}

/* === Media Query For the Header Section === */
/* ====Breakpoint 1 */
@media(max-width:1150px){
    .out-box .inside-box .col-1 {
        margin-left: 8rem;
    }

    .out-box .inside-box .col-2 {
        margin-right: 8rem;
    }
}

/* ===== Breakpoint 2 */

@media(max-width:1070px){
    
    .out-box .inside-box .col-1 span {
        font-size: 1.0rem;
    }
    
    .out-box .inside-box .col-1 span i {
        color: var(--main-color);
        padding-right: 0.5rem;
        font-size: 0.7rem;
    }
    
    .out-box .inside-box .col-2 a,
    .out-box .inside-box .col-2 span,
    .out-box .inside-box .col-2 .social i {
        color: #fff;
        font-size: 1.0rem;
        transition: 0.4s;
    }

}

/* ==== Breakpoint 3: Disappearenace of Top Header  */

@media(max-width:780px){
    .top-header .inside-box .col-1 {
        display: none;
    }

    .top-header .inside-box .col-2 {
        margin-left: 25rem;
    }

    .top-header .out-box .inside-box {
        /* border: 1px solid yellow; */
        justify-content: center;
    }
    .top-header .inside-box .col-2 {
        /* border: 1px solid red; */
        margin-left: 02rem;
        margin-right: 3rem;
    }
}

@media(max-width:591px){
    .top-header .inside-box .col-2 {
        margin-left: 18rem;
    }
}

@media(max-width:517px){
    .top-header .inside-box .col-2 {
        margin-left: 13rem;
    }
}

@media(max-width:465px){
    .top-header .inside-box .col-2 {
        margin-left: 10rem;
    }
}

@media(max-width:434px){
    .top-header .inside-box .col-2 {
        margin-left: 6rem;
    }
}

@media(max-width:392px){
    .top-header .inside-box .col-2 {
        margin-left: 4rem;
    }
}

@media(max-width:371px){
    .top-header .out-box .inside-box {
        /* border: 1px solid yellow; */
        justify-content: center;
    }
    .top-header .inside-box .col-2 {
        /* border: 1px solid red; */
        margin-left: 02rem;
        margin-right: 3rem;
    }
}

/* ===== Media Query for Top Header Ends ==== */

 /* === Nabar Section Starts Here === */
.header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9.5%;
    background: #bba2a2;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190,190,190, 0.5);
    z-index: 111;
    transition: 0.4s ease;  
 }


.header .logo img {
    width: 150px;
 }

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav .navbar ul li {
    padding: 2.5rem 0.5rem;
}

nav .navbar ul li:hover, 
nav .others i:hover {
    color: var(--main-color);
}

nav .navbar .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}

nav .navbar .navLink li a {
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.nav .others {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav .others i {
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
}

nav .others .addBtn {
    position: relative;
    color: #fff;
    background: var(--main-color);
    padding: 1.2rem 1.4rem;
    font-size: 1.3rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}

nav .others .addBtn:hover {
    background-color: var(--font-color);
    color: #fff;

}

nav .others .addBtn i,
nav .others .addBtn i:hover {
    color: #fff ;
    padding-right: 0.5rem;
    font-size: 1.1rem;
}

#menuBtn {
    font-size: 2.5rem;
}

nav .navbar ul li a:hover, 
nav .navbar ul li a.active {
    color: var(--main-color);
}

/* Drop-down Link In the Navbar */
/* Hide the dropdown by default */
nav .navbar .navLink .drop-down {
    position: absolute;
    top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    text-align: justify;
    min-width: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    gap: 0.2rem; /* Added correct gap unit */
    display: none;
}

/* Only show the dropdown when hovering over the li, not the entire navLink */
nav .navbar .navLink li:hover .drop-down {
    display: block;
}

/* Styling for dropdown list items */
.navbar .navLink .drop-down li {
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}

/* Links inside dropdown */
.navbar .navLink .drop-down li a {
    font-size: 1.4rem;
    transition: 0.4s ease;
}

/* Hover effect for dropdown items */
.navbar .navLink .drop-down li:hover a {
    font-size: 1.4rem;
    /* padding-left: 0.5rem; */
    /* background-color: var(--main-color); */
    color: var(--main-color);
    padding: 0.5rem;
}

/* Inner Dropdown Menu */
.drop-down li .drop-down-two {
    width: 250px;
    position: absolute;
    left: 200px;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(32, 17, 17, 0.5);
    padding: 1rem 0 0;
    z-index: 111;
    overflow: hidden;
    display: none;
}

.drop-down li:hover .drop-down-two {
    display: flex;
}

.navbar .navLink .drop-down li .drop-down-two li:hover a {
    color: #fff;
    background: var(--main-color);
    padding: 0.5rem;
}
/* You can replicate the inner dropdown menu for those inner and inner just change the class */

/* === Media Queries For the Header Section */
@media(max-width:1385px) {
    nav .navbar ul li {
        padding: 2.5rem 0;
    }

    nav .others {
        gap: 1rem;
    }

    nav .navbar .navLink {
        gap: 0.5rem;
    }
}

@media(max-width:1220px) {

    .others {
        display: flex;
    }

    #menuBtn {
        color: var(--main-color);
        font-size: 3.5rem;
    }

    nav .navbar .navLink {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 5.8rem;
        width: 96%;
        left: 0px;
        margin-left: 0.5rem;
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        /* Glassmorphism Effect */
        backdrop-filter: blur(16px) saturate(127%);
        -webkit-backdrop-filter: blur(16px) saturate(127%);
        background-color: rgba(130, 163, 223, 0.55);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        display: none;
    }

    nav .navbar .navLink.active {
        display: flex;
    }

    .header .sticky {
        padding: 0.6rem 9.5%;
    }

    nav .navbar ul li {
        padding:1rem 0;
        width: 100%;
    }

    nav .navbar .navLink .drop-down {
        position: relative;
        top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        text-align: justify;
        min-width: 250px;
        background: transparent;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
        padding: 1rem 4rem 3rem 4rem;
        gap: 0.2rem; /* Added correct gap unit */
        display: none;
    }

    .drop-down li .drop-down-two {
        position: sticky;
        margin-top: 0rem;
        display: none;
        background: transparent;
        width: 300px;
        overflow: hidden;
    }
}


/* Hero Section */
.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    color: aliceblue;
    text-shadow: 0 0 4px black;
  }

  .swiper-slide p {
    color: #fff;
  }

  .swiper-slide.slide-one {
    background: url(../oy_image/Gov_Hosp_Comm.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide.slide-two {
    background-image: url(../oy_image/challenge_ibadan\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide.slide-three {
    background-image: url(../oy_image/oyo_construction.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide.slide-one,  .swiper-slide.slide-two,  .swiper-slide.slide-three  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 17rem 5rem 3rem 5rem;
    /* border: 10px solid green; */
  }

  .headline{
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: flex-start;
    background: transparent;
    border-radius: 2rem;
    backdrop-filter: blur(0.2rem);
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem;
    border: none;
    outline: none;
  }

  .headline h4 {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
  }

  .headline h1 {
    font-size: 4.9rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: start;
  }

  .headline p {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    text-align: start;
  }

  .headline span {
    display: block;
  }

  .button {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  .about, .learn {
    padding: 1rem 4rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 100;
  }

  .about {
    background: var(--main-color);
    color: #fff;
  }

  .learn {
    color: var(--main-color);
  }

  .about:hover, .learn:hover {
    background: var(--font-color);
    color: aliceblue;
  }

  /* === Media Queries for Hero Section */

  @media(max-width:971px) {
    .headline p {
        font-size: 1.5rem;
        margin-top: 1rem;
      }
}

@media(max-width:834px) {
    .headline p {
        font-size: 1.4rem;
        /* margin-top: 1.5rem; */
      }
}

@media(max-width:765px){
    .button {
        flex-direction: column;
        width: 100%;
    }

    .swiper-slide.slide-one,  .swiper-slide.slide-two,  .swiper-slide.slide-three  {
        align-items: center;
        padding: 17rem 5rem 3rem 5rem;
      }
}

/* @media(max-width:742px){
    .headline p {
        font-size: 1.1rem;
        margin-top: 1.5rem;
      }
} */

@media(max-width:630px){
    .swiper {
        height: 120vh;
    }
}

@media(max-width:548px){
    .headline h1 {
        font-size: 4rem;
        font-weight: 200;
        margin-bottom: -1.5rem;
      }
    .headline p {
        margin-top: 2rem;
      }
}

@media(max-width:492px){
    .swiper {
        height: 130vh;
    }
}

@media(max-width:478px){
    .about, .learn {
        font-size: 1.5rem;
        font-weight: 100;
        padding: 1rem;

      }
}

@media(max-width:474px){
    .headline h1 {
        font-size: 3.8rem;
        font-weight: 100;
    }
}

@media(max-width:420px){
    .about, .learn {
        font-size: 1.5rem;
        font-weight: 100;
        padding: 1rem;
      }

    .headline h1 {
        font-size: 3.6rem;
    }
}

@media(max-width:376px) {
    .about, .learn {
        font-size: 1.4rem;
      }
}

/* ====First Section ===== */
.search{
    /* position: relative; */
    padding: 2rem 16rem;
    background: #f7f2f2;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .find {
    /* border: 1px solid red; */
    /* max-width: 1000px; */
    /* width: 100%; */
    padding: 2.5rem;
    /* position: absolute; */
    /* top: -7em; */
    /* z-index: 111; */
    background: papayawhip;
    border-radius: 0.8rem;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5);
    /* overflow: hidden; */
}

.find .find-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 3rem;
}

.find h3 {
    font-size: 2.7rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: var(--font-color);
    /* border: 1px solid red;
    width: 100%;
    margin: 0 auto; */
    text-align: center;
}

.find .find-row h4 {
    font-size: 1.7rem;
    color: var(--font-color);
    padding-bottom: 1.5rem;
}

.find .find-row select {
    border: 1px solid #646161;
    font-size: 1.5rem;
    width: 200px;
    font-weight: 900;
    height: 4rem;
    padding: 0 1rem;
    color: #646161;
    font-family: "Poppins", sans-serif;
}

.find .find-row select option {
    padding: 0.5rem;
    border-bottom: 1px solid #646161;
}

.search .search-btn button {
    background: var(--main-color);
    margin-top: 4rem;
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.5s ease;
}

.search .search-btn button i {
    padding: 0.5rem;
}

.search .search-btn button:hover {
    background-color: var(--font-color);
}

/* ==== Media Queries First Section ==== */

@media(max-width:948px){
    .find .find-row {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    .find .find-row {
        gap: 2rem;
    }
        
    .find .find-row h4 {
        font-size: 1.4rem;
        padding-bottom: 1.2rem;
    }

    .search .search-btn button {
        margin-top: 2.5rem;
        font-size: 1.5rem;
    }
}

@media(max-width:696px){
    .find .find-row select {
        font-size: 1.5rem;
        width: 150px;
        height: 3rem;
        padding: 0 0.5rem;
        color: #646161;
    }
    
    .search .search-btn button {
        margin-top: 4rem;
        font-size: 1.2rem;
        padding: 1.3rem 1rem;
    }
  
}

@media(max-width:550px){
    .search .find {
        padding: 1rem;
    }
}

@media(max-width:514px){
    .search .find {
        padding: 0.3rem;
    }
}

@media(max-width:550px){
    .find .find-row {
        padding: 0 2rem;
    }

    .find .find-row select {
        font-size: 1.2rem;
        width: 130px;
    }

    .find .find-row h4 {
        font-size: 1.2rem;
    }

    .search .search-btn button {
        margin-top: 4rem;
        font-size: 1rem;
        padding: 1rem 1rem;
    }

    .find h3 {
        font-size: 2rem;
    }
}

@media(max-width:485px){
    .find .find-row {
        padding: 2rem 1rem;
    }

    .find h3 {
        padding-top: 1rem;
    }
}

@media(max-width:465px){
    .find .find-row {
        padding: 2rem 0.5rem;
    }
}

@media(max-width:456px){
    .find .find-row {
        gap: 1.2rem;
    }
}

@media(max-width:442px){
    .find .find-row {
        gap: 1rem;
    }
}

@media(max-width:435px){
    .find .find-row {
        gap: 0.5rem;
        padding: 2rem 0.2rem;
    }
}

@media(max-width:420px){
    .find .find-row select {
        font-size: 1rem;
        width: 1105x;
    }

    .find .find-row {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }
}

/* Market Section I Starts */

section {
    padding: 2.5rem 16rem;
    background: #f7f2f2;
    /* border: 1px solid red; */
}

.market {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.market .col-3 {
    flex: 1 1 20rem;
    position: relative;
}

.market .col-3 img.one {
    width: 100%;
    height: 45rem;
    border-radius: 1.2rem;
}

.market .col-4 {
    flex: 1 1 20rem;
}

.market .col-3 .service {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #141622;
    padding: 1rem;
    border-radius: 20px;
}

.market .col-3 .service img.two {
    width: 80px;
}

.market .col-3 .service span {
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
}

.market .col-4 h4 {
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 1px;
    font-size: 500;
    padding-bottom: 1rem;
    font-family: "Poppins", sans-serif;
}

.market .col-4 h4 i {
    padding-right: 0.5rem;
}

.market .col-4 h3 {
    font-size: 4rem;
    color: var(--font-color);
    padding-bottom: 2rem;
    text-transform: capitalize;
}

.market .col-4 h3 span {
    color: var(--main-color);
}

.market .col-4 p.text {
    font-size: 1.4rem;
    color: var(--font-color);
    padding-bottom: 1rem;
}

.market .col-4 .p1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.market .col-4 .p1 i {
    padding-right: 0.5rem;
    color: var(--main-color);
    font-size: 1.6rem;
}

.market .col-4 button {
    position: relative;
    margin-top: 2.5rem;
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
}

.market .col-4 button i {
    position: absolute;
    top: 20px;
    font-size: 2rem;
}

.market .col-4 button:hover {
    background-color: var(--font-color);
}

.oyo_nigeria {
    display: flex;
    gap: 2rem;
}

.oyo_nigeria a {
    color: #fff;
}

/* Media Queries for Market Section */

@media(max-width:1174px){
    .market .col-4 button {
        margin-top: 2.5rem;
        padding: 1.5rem 2.5rem;
        font-size: 1.3rem;
    }
}

@media(max-width:1012px){
    .market .col-4 button {
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
    }
}

@media(max-width:902px){
    .market .col-3 {
        display: none;
    }
}

@media(max-width:692px){
    .oyo_nigeria {
        flex-direction: column;
    }

    .market .col-4 button {
        padding: 1.5rem 2.5rem;
        font-size: 1.8rem;
    }
}

@media(max-width:580px){
    .market .col-4 button {
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
    }

    section {
        padding: 2.5rem 6rem;
    }
}

/* Second Market Section: Counter Section Starts */
.counter{
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background: url(../car_image/img/icons/bg-counter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid green;
}

.counter .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.counter .container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 0.5rem;
}

.counter .container span.num {
    padding: 1rem 0;
    font-size: 3.8rem;
    font-weight: 600;
    color: #fff;
}

.counter .container span.text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.counter .container span.text i {
    padding-right: 0.5rem;
}

/* Media Queries */

@media(max-width:969px){
    .counter .container span.num {
        font-size: 3rem;
    }
}

@media(max-width:778px){
    .counter .container span.num {
        font-size: 2.6rem;
    }

    .counter{
        grid-template-columns: 1fr 1fr;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

/* <!-- Arrival Section Starts --> */

.arrivals {
    text-align: center;
    padding: 7rem;
}

section h4,
.arrivals h4 {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

section h4 i,
.arrivals h4 i {
    padding-right: 0.5rem;
}

section h1,
.arrivals h1 {
    margin-bottom: 6rem; /*before prop*/
    padding-bottom: 2.5rem;
    font-size: 4.7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--font-color);
    position: relative; /* Before Prop*/
}

section h1::before {
    content: "";
    position: absolute;
    background: #fff;
    border: 4px solid var(--main-color);
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

section h1::after {
    content: "";
    position: absolute;
    left: 48%;
    transform: translateX(50%);
    bottom: 1.1rem;
    width: 20px;
    height: 10px;
    border-radius: 40px; 
    background: #11a311;
}

section h1 span,
.arrivals h1 span {
    color: var(--main-color);
}

.arrivals .arr-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.arr-row .arr-col{
    padding: 1rem;
    box-shadow: 0 0 5px #646161;
    background: #fff;
    border-radius: 10px;
    text-align: justify;
}

.arr-row .arr-col .image{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease;
}

.arr-row .arr-col .image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.arr-row .arr-col .image:hover img {
    transform: scale(1.3);
}

.arr-row .arr-col h5 {
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--font-color);
}

.arr-row .arr-col .rating{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

.arr-col .rating .starts i {
    color: var(--main-color);
    font-size: 1.4rem;
}

.arr-col .rating .review span {
    font-size: 1.3rem;
    font-weight: 600;
    color: #646161;
}

.arr-col .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.arr-col .features span {
    font-size: 1.4rem;
    color: #646161;
}

.arr-col .features span i {
    color: var(--main-color);
    padding-right: 0.3rem;
}

.arr-col .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arr-col .price p {
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.arr-col .price button {
    background: var(--main-color);
    padding: 0.8rem 2.8em;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.arr-col .price button:hover {
    background: var(--font-color);
}

.arrivals button.load {
    margin-top: 4rem;
    padding: 1.4rem 3.5rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.4s ease;
}

.arrivals button.load i {
 padding-left: 0.5rem;   
}

.arrivals button.load:hover {
    background: var(--font-color);
}

/* Media Queries for Arrivals  */
@media(max-width:1350px){
    .arrivals .arr-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:768px){
    .arrivals .arr-row {
        grid-template-columns: 1fr;
    }

    .arr-row .arr-col .image {
        height: auto;
    }

    section h1, .arrivals h1 {
        font-size: 2.8rem;
    }
}

@media(max-width:450px){
    section h1,.arrivals h1 {
        font-size: 2.4rem;
    }
}

/* Body Type Section */
.type {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #fff;
}

.type .type-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.type-row .type-col {
    width: 100%;
    padding: 2rem;
    background: #f7f2f2;
    border-radius: 12px;
    box-shadow: 0 0 5px #646161;
    transition: 0.4s ease;
}

.type-row .type-col:hover {
    transform: translateY(-10px);
}

.type-row .type-col img {
    width: 100%;
    height: 12rem;
}

.type-row .type-col h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #646161;
}

.type-row .type-col:hover h5 {
    color: var(--main-color);
}

@media(max-width:1350px){
    .type .type-row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:768px){
    .type .type-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:600px){
    .type .type-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:450px){
    .type .type-row {
        grid-template-columns: 1fr;
    }

    .type-row .type-col img {
        width: 100%;
        height: auto;
    }
}

/* Play Section */
.play {
    width: 100%;
    min-height: 80vh;
    background: url(../oy_image/mapo_hall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.play .play-btn {
    background: #fff;
    color: var(--main-color);
    font-size: 5rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    border-radius: 50%;
    padding: 0.7rem 0 0 0.8rem;
}

.play .play-btn::before,
.play .play-btn:after {
    content: '';
    position: absolute;
    border: 6px solid rgba(255,255,255, 0.4);
    border-radius: 50%;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 1;
}

@keyframes animate {
    0% {
        transform: scale(0.5%);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}

.play .play-btn::after {
    animation-delay: 0.5s;
}

/* Dealer Section Starts */
.dealer {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #fff;
}

.dealer .deal-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.deal-row .deal-col {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #646161;
    padding: 1rem;
    border-radius: 12px;
    position: relative;
    text-align: justify;
    transition: 0.5s ease;
}

.deal-row .deal-col:hover{
    transform: translateY(-5%);
}

.deal-row .deal-col .iamge{
    background: #f7f2f2;
    border-radius: 12px;
}

.deal-row .deal-col .image img {
    width: 100%;
    height: 14rem;
    border-radius: 12px;
}

.deal-row .deal-col .list {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--main-color);
    color: #fff;
    padding: 0.7rem 1.4rem;
    font-size: 1.3rem;
    border-radius: 40px;
}

.deal-row .deal-col h5 {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.deal-row .deal-col p {
    padding-bottom: 1rem;
    color: #646161;
    font-size: 1.3rem;
}

.deal-row .deal-col p i {
    color: var(--main-color);
    padding: 0.5rem;
}

@media(max-width:1250px){
     .dealer .deal-row {
        grid-template-columns: 1fr 1fr 1fr;
     }
}

@media(max-width:991px){
    .dealer .deal-row {
       grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:550px){
    .dealer .deal-row {
       grid-template-columns: 1fr;
    }
}

/* Quality Section Starts */
.quality {
    width: 100%;
    background: #141622;
}

.quality .qul-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
    /* border: 1px solid #11a311; */
}

.quality .qul-row .col-1 {
    /* border: 1px solid #11a311; */
    display: flex;
    flex: 1 1 10rem;
    gap: 2rem;
    flex-direction: column;
}

.quality .qul-row .col-1.center {
    padding-top: 6rem;
}

.quality .qul-row .col-2 {
    flex: 1 1 30rem;
}

.quality .qul-row .col-2 img {
    width: auto;
    height: auto;
    border-radius: 1rem;
    margin-left: 8rem;
}

.qul-row .col-1 .qul-one{
    border-radius: 12px;
    background: #fff;
    padding: 1.6rem;
}

.col-1 .qul-one .number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.col-1 .qul-one .number img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.col-1 .qul-one .number h2 {
    font-size: 6rem;
    color: var(--main-color);
}

.col-1 .qul-one h5 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: var(--font-color);
    font-weight: 600;
}

.col-1 .qul-one p {
    font-size: 1.3rem;
    color: #646161;
}

.qul-row .col-2 h4 {
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.qul-row .col-2 h4 i {
    padding-right: 0.5rem;
}

.qul-row .col-2 h3 {
    padding-bottom: 4rem;
    font-size: 4.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}

.qul-row .col-2 h3 span {
    color: var(--main-color);
}

.qul-row .col-2 p {
    color: #fff;
    font-size: 1.3rem;
    padding-bottom: 3rem;
}

@media(max-width:768px){
    .qul-row .col-2 h3 {
        font-size: 2.4rem;
    }
}

@media(max-width:550px){
    .quality .qul-row .col-2 img {
        height: auto;
    }
}

@media(max-width:450px){
    .qul-row .col-2 h3 {
        font-size: 2.4rem;
    }
}

@media(max-width:550px){
    .quality .qul-row .col-2 img {
        display: none;
    }
}


/* Band Section */
.brand {
    text-align: center;
    padding-top: 7rem;
}

.brand .brand-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}

.brand-row .brand-col {
    position: relative;
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 5px #646161;
    transition: 0.4s;
}

.brand-row .brand-col:hover{
    transform: translateY(-10px);
}

.brand-row .brand-col img{
    width: 100%;
    height: 14rem;
}

.brand-row .brand-col h5 {
    font-size: 1.6rem;
    color: var(--font-color);
    font-weight: 600;
}

@media(max-width:1300px){
    .brand .brand-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:768px){
    .brand .brand-row {
        grid-template-columns: 1fr 1fr;
    }

    .brand h1 {
        font-size: 2.8rem;
    }
}

@media(max-width:450px){
    .brand .brand-row {
        grid-template-columns: 1fr;
    }

    .brand-row .brand-col img {
        height: auto;
    }

    .brand h1{
        font-size: 2.4rem;
    }
}

/* Client Section Starts */
.client {
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.client .slide {
    background: #fff;
    box-shadow: 0 0 2px #646161;
    padding: 1rem;
}

.client .slide img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--main-color);
    padding: 1rem;
}

.client .slide h5 {
    font-size: 1.8rem;
    color: var(--font-color);
    padding: 0.5rem;
}

.client .slide span {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.client .slide p {
    color: var(--font-color);
    padding: 1.4rem;
}

.client .slide i {
    color: var(--main-color);
    font-size: 1.4rem;
}

/* Footer Section Start */
.footer{
    background: var(--font-color);
}

.footer .footer-row {
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.footer-row .footer-col img {
    width: 200px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer-row .footer-col p{
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}


.footer-row .footer-col span {
    display: block;
    color: #fff;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.footer-row .footer-col span i {
    background: var(--main-color);
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 18px;
}

.footer-row .footer-col h5 {
    color: #fff;
    font-size: 1.9rem;
    margin: 1rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}

.footer-row .footer-col h5::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
    bottom: 0;
}

.footer-row .footer-col h5::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: var(--main-color);
    bottom: 0;
    left: 40px;
}

.footer-row .footer-col a{
    display: block;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}

.footer-row .footer-col a:hover {
    padding-left: 5px;
    color: var(--main-color);
}

.footer-row .footer-col input {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding-left: 10px;
    color: #141622;
    margin-bottom: 1.5rem;
}

.footer-row .footer-col button {
    background: var(--main-color);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.footer-row .footer-col button:hover {
    background: var(--font-color);
    border: 2px solid #fff;
}

.footer .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 16rem;
    background: #3a3737;
    position: relative;
    text-align: center;
}

.footer .footer-bottom p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer .footer-bottom p span {
    color: var(--main-color);
}

.footer .footer-bottom .social {
    position: absolute;
    background: var(--main-color);
    padding: 1.3rem 25rem;
    right: 0;
    bottom: 0;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 5% 100% );
}

.footer .footer-bottom .social i {
    color: var(--main-color);
    background: #fff;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}

.footer .footer-bottom .social i:hover {
    transform: scale(1.1);
}

@media(max-width:1390px){
    .footer .footer-bottom .social {
        padding: 1.3rem 13rem;
    }
}

@media(max-width:1150px){
    .footer .footer-bottom .social {
        padding: 1.3rem 0;
        background: none;
        position: inherit;
    }

    .footer .footer-bottom {
        flex-direction: column;
    }

    .footer .footer-row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width:991px){
    .footer .footer-row {
        padding: 2rem 10rem;
    }

    .footer .footer-bottom {
        padding: 2rem 10rem;
    }
}

@media(max-width:768px){
    .footer .footer-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:600px){
    .footer .footer-row {
        grid-template-columns: 1fr;
    }

    .footer .footer-row {
        padding: 2rem 7rem;
    }

    .footer .footer-bottom{
        padding: 2rem 7rem;
    }
}

@media(max-width:385px){
    .footer .footer-bottom{
        padding: 2rem 4rem;
    }
}

.client .para{
    font-size: 16px;
    text-align: justify;
}
.client ul li {
    font-size: 16px;
    font-weight: 100;
}

.client .para .finance_guide {
    margin-top: 2rem;
    padding: 1rem 4rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 100;
    background: var(--main-color);
}

.client .para .finance_guide a {
    color: #fff;
}

.parag {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

/* CSS for the cef section */
.cef {
    display: flex; /* Enables side-by-side layout */
    align-items: flex-start; /* Aligns items at the top */
    background-color: #f7f8fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image container styling */
.img_cont {
    margin-right: 20px; /* Space between image and text */
}

.img_cont img {
    width: 120px; /* Fixed width for image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Speech container styling */
.speech {
    flex: 1; /* Take the remaining space */
}

p {
    margin: 10px 0;
    line-height: 1.6; /* Improved readability */
    font-size: 16px; /* Base font size */
    color: #333; /* Text color */
}

/* Media Query for mobile responsiveness */
@media (max-width: 600px) {
    .cef {
        flex-direction: column; /* Stack vertically on small screens */
        align-items: center; /* Center align */
    }

    .img_cont {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 20px; /* Add bottom margin */
    }

    .img_cont img {
        width: 100px; /* Smaller image on mobile */
    }

    p {
        font-size: 14px; /* Slightly smaller font on mobile */
    }
}


.manage_team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f7f8fa;
  }
  
  .team_card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .team_card:hover {
    transform: scale(1.05);
  }
  
  .team_card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .team_card h3 {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  
  /* Media Query for small screens */
  @media (max-width: 600px) {
    .manage_team {
      grid-template-columns: 1fr;
    }
  }


/* Events Page */
.events-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
max-width: 1200px;
padding: 20px;
margin: 0 auto;
}

.event-card {
position: relative;
width: 100%;
height: 300px;
background-size: cover;
background-position: center;
border-radius: 8px;
overflow: hidden;
text-decoration: none;
color: white;
display: flex;
align-items: flex-end;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-info {
background: rgba(0, 0, 0, 0.5);
padding: 15px;
width: 100%;
text-align: center;
}

.event-info h2 {
font-size: 1.2em;
margin-bottom: 5px;
text-align: start;
}

.event-info p {
font-size: 0.9em;
color: #fff;
text-align: start;
}

.event-card:hover {
transform: scale(1.05);
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* ======= Contact Us Page ======= */
            
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.contact-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.container .contact-section p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-details, .form-section {
    margin: 20px 0;
}

.contact-details h3, .form-section h3 {
    color: var(--main-color);
    margin-bottom: 15px;
    font-size: 16px;
}

.container .contact-section .contact-info {
    margin: 10px 0;
}

.container .contact-section .contact-info strong {
    color: #333;
}

.container .contact-section form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container .contact-section input, .container .contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.container .contact-section textarea {
    grid-column: span 2;
}

.container .contact-section button {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    grid-column: span 2;
}

.container .contact-section button:hover {
    background-color: var(--font-color);
}

/* ===== Investment Inquiry ===== */
.investment_container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.investment_container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.investment_container label {
    font-weight: bold;
    font-size: 16px;
}

.investment_container input[type="text"], .investment_container input[type="email"], .investment_container input[type="tel"], .investment_container select, .investment_container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.investment_container button {
    background-color: var(--main-color);
    color: #fff;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.investment_container button:hover {
    background-color: var(--font-color);
}

/* ==== Page Under Construction ======= */
.page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: justify;
    background-color: #f4f4f4;
}

/* CTA button styling */
.page_container .cta-button {
    background-color: var(--main-color);
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.page_container.cta-button:hover {
    background-color: var(--font-color);
}

/* FAQ====== */
.faq_content {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.faq_content h1 {
    color: #0056a3;
    text-align: center;
    margin-bottom: 20px;
}
.faq_content h2 {
    color: #007acc;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.faq_content p {
    margin-bottom: 20px;
}
.faq_content .question {
    font-weight: bold;
    color: #0056a3;
}
.faq_content .answer {
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 3px solid #0056a3;
}
/* Responsive Design */
@media (max-width: 600px) {
    .faq_content {
        padding: 20px;
    }
    .faq_content h1 {
        font-size: 24px;
    }
    .faq_content h2 {
        font-size: 20px;
    }
}

/* Investors Tips ========= */
.investor_tips {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.investor_tips h1 {
    color: #0056a3;
    text-align: center;
    margin-bottom: 20px;
}
.investor_tips h2 {
    color: #007acc;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.investor_tips p {
    margin-bottom: 20px;
}

.investor_tips .tip {
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 3px solid #0056a3;
}
.investor_tips .cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056a3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.investor_tips .cta-button:hover {
    background-color: #003d73;
}
/* Responsive Design */
@media (max-width: 600px) {
    .investor_tips {
        padding: 20px;
    }
    .investor_tips h1 {
        font-size: 24px;
    }
    .investor_tips h2 {
        font-size: 20px;
    }
}

/* Quarrying ===== */
.quarrying_content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.quarrying_content h1 {
    color: #0056a3;
    text-align: center;
    margin-bottom: 20px;
}
.quarrying_content h2 {
    color: #007acc;
    font-size: 22px;
    margin-top: 30px;
}
.quarrying_content p {
    line-height: 1.6;
    margin-bottom: 15px;
}
@media (max-width: 600px) {
    .quarrying_content {
        padding: 20px;
    }
}